/* --------------------------------------------
 Header 
 --------------------------------------------*/
 #header {
    display: flex;
    justify-content:left;
    align-items: center;
    margin: 2em;
    height: 50px;
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
    border:solid 0.15vw rgb(185, 141, 96);
    border-radius: 1vw;
    background:rgb(240,238,236);
    z-index: 9999;
}

#header img{
    margin-right: 1em;
    width: 75px;
    height: 75px;
    border: 4px solid rgb(253, 173, 82);
    border-radius: 5px;
}

#header h1 {
    color:rgb(63, 45, 26);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:  2em;
}

#header a {
    list-style-position: outside;
}
@media (max-width: 1000px) {
    #header img{
        margin-right: 0.5em;
        width: 2em;
        height: 2em;
        border: 0.15em solid rgb(253, 173, 82);
        border-radius: 0.15em;
    }
    
    #header h1 {
        font-size:  1.5em;
    }

  }
  @media (max-width: 425px) {
    #header {
        height: 3em;
    }
    #header img{
        margin-right: 0.5em;
        width: 1.5em;
        height: 1.5em;
        border: 0.15em solid rgb(253, 173, 82);
        border-radius: 0.15em;
    }
    
    #header h1 {
        font-size:  1em;
    }

  }
  @media (max-width: 330px) {
    #header {
        height: 2em;
    }
    #header img{
        margin-right: 0.5em;
        width: 1.5em;
        height: 1.5em;
        border: 0.15em solid rgb(253, 173, 82);
        border-radius: 0.15em;
    }
    #header h1 {
        font-size:  1em;
    }
  }
/* --------------------------------------------
 Nav 
 --------------------------------------------*/

 #navi {
    display: flex;
    margin-top: 4.8em;
    margin-left: 5.5em;
    margin-right: 15em;
    height: 50px;
    background:rgb(00,238,236);
    opacity: 0.7;
    border-radius: 0.15em;
}

.header_optionNav {
    padding-top: 0.5em;
    padding-left: 3em;
    color: black;
    display: flex;
    align-items: center;
    font-weight: 700;
}

@media (max-width: 1000px) {
}


.header_optionLineOne {
    font-size: 10px;
}

.header_optionLineTwo {
    font-size: 13px;
    font-weight: 800;
}

.header_optionBasket {
    display: flex;
    align-items: center;
    color: black;
    margin-top: 5px;
}

.header_basketCount {
    margin-left: 10px;
    margin-right: 10px;
}

.header_option {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: black;
} 

.header_nav {
    background-color: red;
    color: red;
    display: flex;
    margin-left: auto;
    align-content: flex-end;
    align-items: center;
    ;
}
